<div id="headerwrap">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12 himg">
                <img src="{{ "/assets/img/logo.svg" | prepend: site.baseurl }}" style="PADDING-BOTTOM: 25px; PADDING-TOP: 25px;" class="img-responsive" height="450px" width="450px">
                <p>
                <font color="white">Open Data Literacy is a collaborative project led by the Information School at the University of Washington</p> 
                <p>in partnership with public institutions that create, manage, and publish open data.</font>
                <p>
                <p>
                <p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
